<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Medin</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap-4.3.1.css" rel="stylesheet">
	<link href="css/mystyle.css" rel="stylesheet">  
  </head>
  <body>
	  
	<nav id="nabBarEl" class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
		<a href="index.html" class="navbar-brand d-flex w-50 mr-auto">Medinnovations</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
			<ul class="navbar-nav w-100 justify-content-center">
				<li class="nav-item">
					<a id="blinkAboutPage" class="nav-link" href="#">О нас</a>
				</li>
				<li class="nav-item">
					<a id="blinkSamplePage" class="nav-link" href="#">Примеры работ</a>
				</li>
				<li class="nav-item">
					<a id="blinkContactPage" class="nav-link" href="#">Контакты</a>
				</li>
			</ul>
			<ul class="nav navbar-nav ml-auto w-100 justify-content-end">
				<li class="nav-item">
					<a class="nav-link" href="#">Авторизация</a>
				</li>
			</ul>
		</div>
	</nav>
	 
	  

    <div id="homePage" class="container mt-2">
		<div class="row">
			<div class="col-12">
				<div class="jumbotron">
					<h1 class="text-center">медицинская экспертная система интеллектуальной диагностики.</h1>
					<center>
						<!-- <img src="images/600X300.gif" alt="" class="img-fluid"> -->
						<div class="placeholder"></div>
					
					</center>
					<p class="text-center">решение задач диагностики, выявления и диагностирования патологий, на основе анализа и обработки медицинских технологий</p>   
					<div class="row justify-content-center">
						<button type="button" class="btn btn-info">Начать</button>
					</div>
					<br>
					<hr>
					<hr>
					<nav id="navEl" class="navbar oneNav navbar-expand-sm navbar-light ">
						<div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
							<div class="text-center" id="navbarsExample11">
								<ul class="navbar-nav">
									<li class="nav-item">
										<a id="blink1" class="nav-link" href="#">О нас</a>
									</li>
									<li class="nav-item">
										<a id="blink2" class="nav-link" href="#">Примеры работ</a>
									</li>
									<li class="nav-item">
										<a id="blink3" class="nav-link" href="#">Контакты</a>
									</li>
								</ul>
							</div>
						</div>
					</nav>
					<hr>
					<hr>
				</div>
			</div>
		</div>
    </div>

	<div id="aboutPage" class="container mt-2">
		<div class="row">
			<div class="col-12">
				<div class="jumbotron">
					<h1 class="text-center">О нас.</h1>
					<p class="text-center">Много букв</p>   
					<div class="row justify-content-center">
					</div>
				</div>
			</div>
		</div>
    </div>

	<div id="samplePage" class="container mt-2">
		<div class="row">
			<div class="col-12">
				<div class="jumbotron">
					<h1 class="text-center">Примеры.</h1>
					<p class="text-center">Много букв</p>   
					<div class="row justify-content-center">
					</div>
				</div>
			</div>
		</div>
    </div>
	  
	<div id="contactPage" class="container mt-2">
		<div class="row">
			<div class="col-12">
				<div class="jumbotron">
					<h1 class="text-center">Контакты.</h1>
					<p class="text-center">Много букв</p>   
					<div class="row justify-content-center">
					</div>
				</div>
			</div>
		</div>
    </div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap-4.3.1.js"></script>
	<script src="js/myscript.js"></script>
	<script src="js/TweenMax.min.js"></script>
	<script src="js/placeholder_script.js"></script>  
  </body>
</html>